*{
    width: 100%;
    height:100%;
     padding: 0;
     margin: 0;
 }
 div.container{
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 10rem auto 8rem[right];
    grid-template-rows: 10rem 5rem auto 5rem;
    grid-template-areas: 
    "head head head"
    "nav nav nav"
    "Article div panright"
    "foot foot foot";
}
header{
    background: rgb(0,0,0,0.2);
    grid-area: head;
    text-align: center;
}
.rightpanel{
    background: rgb(0,0,0,0.1);
    grid-area: panright;
}
footer{
    background: rgb(0,0,0,0.2);
    grid-area: foot;
    grid-row-start: 4;
}
nav{
    background: rgb(0,0,0,0.1);
    grid-area: nav;
    text-align: center;
}
article{
    background: rgb(0,0,0,0.2);
    grid-area: Article;
    margin: 10px;
}
#kuva{
    display: flex;
    background: rgb(0,0,0,0.3);
    grid-area: div;
    height: 194px;
    width: 259px;
}