@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
p {
    color: black;
    font-size: 0.75rem;
    margin: auto;
}
header{
    background-color: grey;
    min-height: 100vh;
    width: 100%;
    margin: auto;
    background-image: url("./Kuvat/wallhaven-4xee2v.jpg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px 8px rgb(137, 202, 255);
    background-color: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
}

h1{
    color: white;
    text-align: center;
    font-size: 5vw;
    padding: 1vw;
}
.introbox{
    background-color: rgba(0,0,0,0.5);
    width: 100%;
    height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 250px;
}
.text-box{
    color: white;
    text-align: center;
}
.text-box-introduction{
    color: white;
    text-align: center;
    font-size: 2rem;
    width: 50%;
    height: 100vh;
}
.text-box-introduction p{
    font-size: 2vw;
    color: white;
}
.introduction{
    height: 100vh;
    width: 100%;
    height: fit-content;
    background-color:rgb(31, 31, 31);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: inset 0 0 16px rgb(19, 19, 19);
}
.tyot-section{
    min-width: 40vh;
    max-width: 80vh;
    height: 50vh;
    color: white;
    display: flex;
    flex-direction: column;
    box-shadow: inset 0 0 5px rgb(59, 59, 59);
    margin: 2px auto;
    padding: 3vh;
    backdrop-filter: blur(8px);
}
.tyot-section h2{
    font-size: 3rem;
    text-align: center;
    margin: auto;
    color: white;
}
.page{
    height: 30vh;
    width: 25vh;
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: auto;
    border-radius: 6px;
    padding: 4px;
    margin: 4px;
}
.page a{
    text-align: center;
    font-size: 2.5vh;
    margin: auto;
    text-decoration: none;
    padding: 4px;
}
.page a:link {
    color: black;
}
  
.page a:visited {
    color: black;
}

.page a:hover {
    color: black;
}

.page a:active {
    color: black;
}

.text-box-pages{
    color: white;
    text-align: center;
    font-size: 2rem;
    width: 100%;
    height: 40vh;
    padding: 2vh;

}
.text-box-pages p{
    margin-top: 10px;
    font-size: 1.5rem;
    color: white;
}
.blur{
    /*backdrop-filter: blur(5px);*/
    height: 160vh;
    width: 100%;
    padding: 1px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
.showcase{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.pages{
    background-image:linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)),url("./Kuvat/wallhaven-45vkj9.jpg");
    height: 160vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    flex-direction: column;
}
#show-box{
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    max-height: fit-content;
}
img{
    width: 100%;
    height: 60%;
    border-radius: 4px 4px 0 0;
    object-fit: cover;
}
@media screen and (max-width: 768px){
    h1{
        font-size: 8vw;
    }
    .text-box-introduction{
        width: 80%;
    }
    .text-box-introduction p{
        font-size: 3vw;
    }
    .tyot-section h2{
        font-size: 4rem;
    }
    .page{
        height: 20vh;
        width: 20vh;
    }
    .page a{
        font-size: 2vh;
    }
    .text-box-pages{
        font-size: 1.5rem;
    }
    .text-box-pages p{
        font-size: 1rem;
    }
    #show-box{
        width: 100%;
        height: 200vh;
    }
    .blur{
        height: 200vh;
    }
    .pages{
        height: 200vh;
    }
   .text-box-introduction p {
        font-size: 1rem;
        color: white;
    }
    .introbox{
        height: 20vh;
    }


    
}