.App {
  text-align: center;
}
*{
  margin: 0;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
p{
  margin: 10px;
}

.App-header {
  background: linear-gradient(45deg,#4795fa, #3bcef7);
  min-height: 10vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: white;
  justify-content: space-between;
}
.tuotelaatikko{
  margin-top: 5vh;
  width: 100%;
  border: 1px black solid;
  height: 50vh;
  display: flex;
  flex-wrap: wrap;
}
.tuote{
  max-width: 250px;
  min-width: 250px;
  background-color: lightblue;
  height: 45vh;
  border-radius: 15px;
  margin: 10px;
  border: black 1px solid;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
}
.tuotekuva{
  max-width: 250px;
  min-width: 250px;
  max-height: 150px;
  min-height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.poistatilaus{
  height: 30px;
  background-color: #ff2828;
}
.Ostoskori {
  display: flex;
  flex-direction: column;
  width: 500px;
  height: auto;
  margin-left: 33%;
  margin-top: 10px;
}
.Ostos{
  margin-top: 20px;
  display: flex;
  width: 500px;
  background-color: lightblue;
  height: 150px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  border: black 1px solid;
}
.Ostosinfo{
  display: flex;
  flex-direction: column;
  padding: 0;
  margin-left:50px;
}

.Ostoskuva{
  max-width: 200px;
  max-height: 150px;
  min-height: 150px;
  border-bottom-left-radius: 10px;
  border-top-left-radius: 10px;
}
.flextest{
  align-items: center;
  margin-left: 25px;
  width: 20vh;

}
.flex-row{
  display: flex;
  margin-top: 30px ;
}
.flex-row2{
  display: flex;
  margin-top: 30px;
}

.maksulomake-container{
  position: absolute;
  height: 420px;
  width: 400px;
  padding: 40px;
  background-color: #3bcef7;
  border-radius: 20px;
  box-shadow: 0px 0px 10px 1px white ;
  z-index:50;
  top: 200px;
  left: 700px;

}
.darken-screen{
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5));
  z-index:20;
}
.maksamaan-nappi{

}
.takaisin-nappi{
  margin-left: 100px;
}

.maksa-submit{
  width: 80px;
  height: 40px;
  margin-left:150px ;
}
.maksulomake-inputs{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:350px;
  height: 400px;
  margin-left: 10px;
  
}
input.inputs{

}
.input{
  width: 150px;
  height: 20px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
